@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
  
    background-size: cover;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(199, 194, 194);
    color: #fff;
    
   }
   .list{
    list-style: none;
   }
   li{
    display: inline;
   }
   li a{
    display: inline;
    justify-content: space-between;
    margin-right: 40px;
    text-decoration: none;

   }
   .titer{
    text-align: center;
   }


li{
    list-style: none;
}
.contact{
    margin-top: 100px;
    text-align: center;
}
button{
    margin-right: 288px;
}
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}
textarea{
    width: 350px;
}
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  footer{
    margin-top: 100px;
  }
.groub1{

  display: flex;
  justify-content: space-evenly;
  margin-top: px;
 
}
#img1{
  border-radius: 25px;
  box-shadow: 20px 20px 50px grey;
  
}
#img2{
  border-radius: 25px;
  box-shadow: 20px 20px 50px grey;
}
#img3{
  border-radius: 25px;
  box-shadow: 20px 20px 50px grey;
}
.buttons{
  margin-top: 50px;
}
#but1{
  margin-left: 200px;
}
#but2{
  margin-left: 50px;
}
#but3{
  margin-right: -70px;
}
#plats{
  text-align: center;
}
#select{
  text-align: center;
}
.groub2{
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-top: px;
}
#but4{
  margin-left: 350px;
}
#but5{
  margin-left: 135px;
}
#boissonts{
  text-align: center;
}
.images2{
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-top: px;

}
#imag6{
   border-radius: 25px;
}
#imag7{
  border-radius: 25px;
}
#imag8{
  border-radius: 25px;
}