@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(/banquet-table-with-snacks.jpg);
}
.stylnavbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(199, 194, 194);
    color: #fff;
    
   }
   .list{
    list-style: none;
   }
   li{
    display: inline;
   }
   li a{
    display: inline;
    justify-content: space-between;
    margin-right: 40px;
    text-decoration: none;

   }
.hello{
    text-align: center;
    margin-top: 100px;
}
p{
    font: regular;
}
.footer {
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 154px;
}
.hm-footer-copyright p,.hm-footer-copyright p a {
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
}
.footer-social a i {
    color: #a4aaaf;
    margin: 0 18px 24px 0;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}